@import "./setting.css";
@import "./info.css";
@import "./attribute.css";

dsa-character {
  line-height: 1; /* allows the use of em as 1 line high */
  font-family: monospace;

  display: block;
  position: relative;
  padding: 10px;
}

dsa-character-heading {
  display: block;
  width: 100%;
  text-align: center;
}

dsa-button.dsa-character-close {
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  background-image: url("./icons/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

dsa-style-manager {
  display: none;
}
