@import "../../style/shared.css"; /* TODO include base theme in main page to prevent wierd import  */

/*
TODO color variables to allow themes and plugins styles to fit together
:root {
  --dsa-bg: black;
  --dsa-highlight: white;
}
*/


dsa-character {
  line-height: 1; /* allows the use of em as 1 line high */
  font-family: monospace;

  padding: 10px;
  display: flex;
  flex-direction: column;
}

dsa-style-manager {
  display: none;
}

dsa-horizontal-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

dsa-horizontal-bar-left, dsa-horizontal-bar-middle, dsa-horizontal-bar-right {
  display: flex;
  flex-grow: 1;
  gap: 3px;
}

dsa-horizontal-bar-left {
  flex-direction: row;
}

dsa-horizontal-bar-middle {
  justify-content: center;
}

dsa-horizontal-bar-right {
  flex-direction: row-reverse;
}
