dsa-character {
  line-height: 1; /* allows the use of em as 1 line high */
  font-family: monospace;

  display: block;
  position: relative;
  padding: 10px;
}

dsa-style-manager {
  display: none;
}
